<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SSN College Of Engineering</title>
  <script src="https://kit.fontawesome.com/fd9f59b0c7.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/batchstyle.css') }}">
</head>
<h3 align ="center">Day Wise Attendance</h3>
<div class="container" align="center">
  <div class="box-1">
    <div class="course">
      <h3>Course:{{ course1 }}</h3>
      <form action="{{ url_for('view_att',cname = course1) }}" method="POST">
          <label for="courses">Choose the class</label>
          <select name="courses" id="course">
            <option value="C1">Class 1</option>
            <option value="C2">Class 2</option>
            <option value="C3">Class 3</option>
            <option value="C4">Class 4</option>
            <option value="C5">Class 5</option>
          </select>
        </div>
         <br>
        <input type="submit" id="check" value="submit" name="submit">
        </form>
  </div>
</div>
<table id="demo">
</table>
<script>
</script>
</body>
</html>