<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Principles of Operating Systems</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://kit.fontawesome.com/fd9f59b0c7.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		
		<div class="box-3">
			<h1>Principles of Operating Systems</h1>
			<ul>
				<li>Overall Attendance Percentage: 86.66%</li>
				<li>Course Instructor: Dr. Joe Louis Paul</li>
			</ul>	
		</div>
		<div class="clr"></div>
		<form class="my-form">
			<h1>Enter the appropriate date</h1>
			<div class="form-group"></div>
			<input type="date" id="date">
			<div class="clr"></div>
		</form>
		<input class="button" type="submit" id="check" value="Submit" onClick="Melia()">
		<div class="box-4">	
			<div id="att_table">
				<table>
				  <tr>
				  	<th>Register Number</th>
				    <th>Name</th>
				    <th>Present</th>
				    <th>Absent</th>
				  </tr>
				  <tr>
				    <td>195002031</td>
				    <td>Dinesh B</td>
				    <td class="button2">
				    	<input type="radio" id="present" name="student1" value="present">
  						<label for="date"> Present</label><br>
				    </td>
				    <td class="button3">
				    	<input type="radio" id="absent" name="student1" value="absent">
  						<label for="date"> Absent</label><br>
				    </td>				    
				  </tr>
				  <tr>
				    <td>195002034</td>
				    <td>Divya</td>
				    <td class="button2">
				    	<input type="radio" id="present" name="student2" value="present">
  						<label for="date"> Present</label><br>
				    </td>
				    <td class="button3">
				    	<input type="radio" id="absent" name="student2" value="absent">
  						<label for="date"> Absent</label><br>
				    </td>
				  </tr>
				  <tr>
				    <td>195002038</td>
				    <td>Gayathri</td>
				    <td class="button2">
				    	<input type="radio" id="present" name="student3" value="present">
  						<label for="date"> Present</label><br>
				    </td>
				    <td class="button3">
				    	<input type="radio" id="absent" name="student3" value="absent">
  						<label for="date"> Absent</label><br>
				    </td>				    
				  </tr>
				  <tr>
				    <td>195002060</td>
				    <td>Karthika</td>
				    <td class="button2">
				    	<input type="radio" id="present" name="student4" value="present">
  						<label for="date"> Present</label><br>
				    </td>
				    <td class="button3">
				    	<input type="radio" id="absent" name="student4" value="absent">
  						<label for="date"> Absent</label><br>
				    </td>				    
				  </tr>
				</table>
			</div>
		</div>
	</div><!-- ./container -->
</body>
</html>